*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    padding: 30px 8%;
    background-color: #6900d1;
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.nav ul{
    display: flex;
    position: relative;
}
.nav ul li{
    list-style: none;
    margin-left: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
}
ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

ul li:hover::after{
    width: 100%;
}


.girl{
    max-width: 450px;
}
.right{
    position: absolute;
    /* border: 2px solid black; */
    bottom: 0px;
    right: 8%;
}
.left{
    max-width: 500px;
    position: absolute;
    top: 35%;
    left: 8%;
}
.left h1{
    color: white;
    font-size: 45px;
    margin-bottom: 30px;
}
.left p{
    color: rgba(255, 255, 255, 0.883);
    margin-bottom: 60px;   
    line-height: 1.3; 
}
.left .btns a{
    text-decoration: none;
    margin: 20px 5px;
}
.join{
    background-color: white;
    color: #6900d1;
    padding: 17px 30px;
    border-radius: 5px;
    transition: 0.5s;
}
.explore{
    background: transparent;
    border: solid 2px white;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}
.join:hover{
    background-color: rgba(255, 255, 255, 0.645);
}
.explore:hover{
    background-color: rgba(255, 255, 255, 0.284);
}

/* ------------------------------------------------------SERVICES------------------------------------ */
.services{
    width: 80%;
    margin: 10% auto;
    text-align: center;
}
.para{
    margin: 30px auto 50px auto;
    color: rgba(29, 29, 29, 0.855);
}
.content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col{
    flex-basis: 31%;
    padding: 50px 25px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}
.col img{
    width: 65px;
}
.colimg{
    margin-bottom: 20px;
}
.col p{
    margin: 30px auto 50px auto;
}
.col-2{
    background-color: #6900d1;
    color: white;
}
.col-2 p{
    color: white;
}
.col-3:hover,.col-1:hover{
    background-color: #6900d1;
    transition: 0.5s;
    color: white;
}
/* ------------------------------------------------------Hearfromcustommer----------------------- */
.hear{
    width: 80%;
    margin:10% auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic{
    flex-basis: 45%;
}
.pic img{
    max-width: 450px;
    cursor: pointer;
}
.hearright{
    flex-basis: 45%;
    max-width: 500px;
    line-height: 1.3;
}
.hearright h1{
    line-height: 1.4;
}
.hearright p{
    margin: 50px auto;
}
.hearright a{
    text-decoration: none;
    padding: 15px 25px;
    color: white;
    background-color: #6900d1;
    margin-top: 200px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* ----------------------------------------------------LIFE----------------------------------- */
.life{
    width: 80%;
    margin: 15% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lifeleft{
    flex-basis: 45%;
    border-radius: 10px;
    margin: 0 20px;
}
.lifeleft h1{
    margin: 30px auto;
    font-size: 30px;
    line-height: 1.3;
}
.lifeleft p{
    margin: 50px auto;
}
.lifeleft a{
    text-decoration: none;
    padding: 15px 25px;
    color: white;
    background-color: #6900d1;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.liferight img{
    max-width: 400px;
}
/* ----------------------------------------------------PEOPLE----------------------------------- */
.people{
    width: 80%;
    margin: 20% auto;
}
.content3{
    width: 65%;
    margin: 50px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    border-radius: 10px;
    padding: 50px 40px;
    position: relative;
}
.content3 img{
    width: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content3 h4{
    margin-bottom: 15px;
}
.fashion{
    margin-bottom: 40px;
}

.text{
    line-height: 1.6;
}

/* ----------------------------------------------------FOOTER--------------------------------- */
.footer{
    position: relative;
    width: 100%;
    min-height: 40vh;
    background-color: #6900d1;
    color: white;
    text-align: center;
    box-sizing: border-box;
}
.content4 h2{
    padding: 50px;
}
.content4 .mail{
    font-size: 14px;
    margin-bottom: 45px;
}
.subscribe{
    margin-top: 45px;
    padding: 15px 30px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}
.copyright{
    margin-top: 50px;
}
.mail::after{
    margin-top: 10px;
    content: '';
    width: 60%;
    height: 1.6px;
    background-color: white;
    position: absolute;
    display: block;
    left: 20%;
}